nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  background: rgba(255, 255, 255, 0.7);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 14px;
  align-items: center;
  max-width: max-content;
}

nav ul li a,
nav ul li span {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  cursor: pointer;
}
nav ul li:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

ul li {
  position: relative;
}

ul li ul {
  display: none;
  position: absolute;
  /* left: 0; */
  /* top: 100%; */
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
  width: max-content;
  padding: 1rem 1rem 0;
}

ul li > ul {
  display: block;
}

.seta {
  display: inline-block;
  margin-left: 5px;
  font-size: 0.8em;
  transition: transform 0.3s;
}

.seta-aberta {
  transform: rotate(180deg);
}

nav .btn {
  line-height: 0.7rem;
  padding: 0 0.5rem;
  /* margin: 0px; */
  margin-left: 1rem;
  height: 2.4rem;
}
nav .btn span {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

nav .burguer {
  display: none;
  width: 32px;
  height: 32px;
  background: url('../assets/img/burger-menu-svgrepo-com.svg') no-repeat center center;
  background-size: 24px 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

@media (max-width: 944px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
  }

  nav .burguer {
    display: block;
  }
  nav ul {
    display: none;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    gap: 0;
    box-shadow: 0 4px 16px #0002;
    z-index: 2000;
    padding: 2rem 1rem;
    opacity: 1;
  }
  nav ul.aberto {
    display: flex;
    justify-content: flex-start;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    text-align: start;
  }

  nav .btn {
    margin-right: 1rem;
  }

  .top-section-container {
    margin-top: 1rem;
  }

  nav ul li ul {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    padding: 0.5rem;
    height: auto;
  }
}

.top-section-container {
  background:
    url('../assets/img/fundoRio_otm-50.svg') no-repeat center bottom / cover,
    /* svg */
      linear-gradient(
        90deg,
        rgba(141, 156, 198, 1) 0%,
        rgba(167, 192, 182, 1) 50%,
        rgba(183, 163, 145, 1) 100%
      );
  text-align: center;
  padding: 4rem 2rem;
  margin-top: 3rem;
}

@media (max-width: 944px) {
  .top-section-container {
    margin-top: 0;
  }
}

.top-section-container h1,
.top-section-container p {
  --tw-drop-shadow-size: drop-shadow(0 4px 4px var(--tw-drop-shadow-color, #00000026));
  --tw-drop-shadow: drop-shadow(var(--drop-shadow-lg));
  filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,) var(--tw-grayscale,)
    var(--tw-hue-rotate,) var(--tw-invert,) var(--tw-saturate,) var(--tw-sepia,)
    var(--tw-drop-shadow,);
}

h1 {
  font-size: 60px;
}

.subs {
  font-size: 24px;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

h1,
.subs {
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--text-white);
}

.sub-titulo {
  color: var(--color-yellow-300);
  font-weight: bold;
  font-size: 24px;
}

.subs-var {
  color: var(--color-green-300);
  font-size: 18px;
}

.textos-topo {
  margin-bottom: 4rem;
}

.botoes-topo {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 600px) {
  .botoes-topo {
    flex-direction: column;
    gap: 1rem;
  }
}

.btn {
  border: none;
  border-radius: 0.7rem;
  padding: 0.75rem 1.5rem;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  margin: 0 0.5rem;
}

.btn:hover {
  box-shadow: #00000033 0px 4px 16px;
  transition: 0.5s;
}

.btn:not(:hover) {
  transition: 0.5s;
}

.btn-v {
  background-color: var(--color-green-500);
  color: var(--text-white);
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 2rem;
}

.apresentacao {
  margin: 2rem 0 0;
  padding: 1rem;
  max-width: 80rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 900px) {
  .apresentacao {
    margin: 1rem 0;
  }
}

.aa-01 {
  max-width: none;
  background: #000000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(225, 255, 0, 0.09) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.apresentacao article {
  text-align: start;
}

.logos-organizers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem auto;
  width: 100%;
  max-width: 900px;
}

@media (max-width: 900px) {
  .logos-organizers {
    grid-template-columns: 1fr;
    max-width: 400px;
  }
}

.apresentacao-organizadores {
  background-image: linear-gradient(
    rgb(255, 255, 255) 0%,
    oklab(0.982 -0.0164215 0.00737116 / 0.1) 50%,
    rgb(255, 255, 255) 100%
  );
  color: oklch(0.145 0 0);
}

.logos-organizers li {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 2rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 160px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  transition: box-shadow 0.2s;
}
.logos-organizers li:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
.logos-organizers li img {
  max-width: 180px;
  min-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.sobre-evento {
  padding: 0 2rem;
  margin-bottom: 2rem;
  /* background-color: var(--color-gray-100); */
}

.conjunto-texto-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  margin: 5rem auto;
}
@media (max-width: 900px) {
  .conjunto-texto-img {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .sobre-evento {
    padding-top: 0;
    margin-bottom: 1rem;
    padding-bottom: 0;
  }
}

.conjunto-texto-img button {
  margin-top: 2rem;
}

.conjunto-texto-img img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.decor-ies.diIEEE {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: fit-content;
  padding: 0;
}

.decor-ies.diIEEE span:nth-child(1) {
  font-size: 60px;
  color: var(--color-blue-500);
  font-weight: bold;
}

.decor-ies.diIEEE span:last-child {
  font-size: 12px;
  color: var(--color-gray-600);
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.sobre-evento h4 {
  margin-bottom: 3rem;
}

.decor-ies {
  /* display: inline-block;
  background-color: aqua;
  padding: 2rem; */

  background-image: linear-gradient(
    to right bottom,
    oklch(0.962 0.044 156.743) 0%,
    oklch(0.973 0.071 103.193) 100%
  );

  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  min-width: 0;
  min-height: 160px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  transition: box-shadow 0.2s;
}

.decor-ies-back {
  position: relative;
  display: block;
  margin-bottom: 0;
  font-size: 64px;
  font-weight: bold;
  color: var(--color-green-700);
  z-index: 1;
  opacity: 0.3;
  line-height: 0.2;
}

.decor-ies-front {
  display: block;
  margin-top: 0;
  position: relative;
  font-size: 36px;
  font-weight: bold;
  color: var(--color-green-700);
  z-index: 0;
}

.decor-ies-text {
  font-size: 18px;
  font-weight: normal;
  color: var(--color-gray-600);
  font-style: italic;
}

.decor-ies.diIEEE {
  background-image: linear-gradient(
    to right bottom,
    oklch(0.932 0.032 255.585) 0%,
    oklch(0.962 0.044 156.743) 100%
  );
}

.detalhes-evento {
  padding-top: 1rem;
  background-image: linear-gradient(
    to right bottom,
    oklch(0.987 0.026 102.212) 0%,
    oklch(0.982 0.018 155.826) 50%,
    oklch(0.97 0.014 254.604) 100%
  );
  padding-bottom: 4rem;
}

.detalhes-evento h2 {
  font-size: 36px;
  font-weight: bold;
  color: var(--color-green-700);
}

#subtitulo-detalhes {
  color: var(--color-gray-600);
  font-size: 20px;
  text-align: center;
  margin: 0 auto 3rem;
  max-width: 50%;
}

@media (max-width: 900px) {
  #subtitulo-detalhes {
    max-width: 90%;
    font-size: 18px;
    margin: 0 auto 2rem;
  }
}

.detalhes-tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.detalhes-tags {
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  display: block;
  font-weight: 500;
  font-size: 18px;
}

.detalhes-tags.dt1 {
  background-color: var(--color-green-100);
  color: var(--color-green-700);
}

.detalhes-tags.dt2 {
  background-color: var(--color-yellow-100);
  color: var(--color-yellow-700);
}

.detalhes-tags.dt3 {
  background-color: var(--color-blue-100);
  color: var(--color-blue-700);
}

.cards-ev-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem auto;
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 900px) {
  .cards-ev-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    width: auto;
  }
}

@media (max-width: 600px) {
  .cards-ev-container {
    grid-template-columns: 1fr;
  }
}

.card-ev {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: box-shadow 0.2s;
  text-align: center;
  gap: 1rem;
}
.card-ev:hover,
.card-ev-icon-div:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.card-ev-icon-div {
  width: 32px;
  height: 32px;
  background-image: linear-gradient(
    to right bottom,
    oklch(0.723 0.219 149.579) 0%,
    oklch(0.623 0.214 259.815) 100%
  );
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto;
  transition: transform 0.2s;
}

.card-ev-icon-div:hover {
  transform: scale(1.1);
}

.card-ev img.card-icon {
  max-width: 80px;
  margin-bottom: 1rem;
}

.card-ev-icon-div svg {
  width: 32px;
  height: 32px;
  display: block;
  color: var(--text-white);
}

.cards-ev-container h4 {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-gray-900);
  text-align: center;
}

.detalhes-final-container {
  margin: 4rem auto 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  justify-content: center;
  max-width: 1200px;
  gap: 2rem;
}

@media (max-width: 900px) {
  .detalhes-final-container {
    grid-template-columns: 1fr;
    padding: 1rem;
    margin-bottom: 0;
  }
}

.detalhes-final-container article:nth-child(2) {
  background-image: linear-gradient(
    to right bottom,
    oklch(0.962 0.044 156.743) 0%,
    oklch(0.973 0.071 103.193) 50%,
    oklch(0.932 0.032 255.585) 100%
  );
  padding: 2rem;
  border-radius: 12px;

  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.detalhes-final-container h3:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: var(--color-blue-700);
  margin-bottom: 1rem;
}

.titulos {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.titulos.t-a {
  color: var(--color-blue-700);
}
.titulos.t-g {
  color: var(--color-green-700);
}

.detalhes-final-container li span {
  font-weight: bold;
  color: var(--color-gray-900);
}

.detalhes-final-container ul li {
  list-style: inside;
}

.detalhes-final-container article:nth-child(2) {
  text-align: center;
}

.detalhes-final-container article:nth-child(2) ul {
  text-align: start;
}

.detalhes-final-container article:nth-child(1) ul li {
  margin-bottom: 1rem;
}

.detalhes-final-container article:nth-child(2) ul li {
  margin-bottom: -0.5rem;
  font-size: 14px;
}

.detalhes-final-container ul li::before {
  content: '';
  margin-left: -0.7em;
}

.detalhes-final-container li::marker {
  font-weight: bold;
  font-size: 24px;
}

.detalhes-final-container li:nth-child(1)::marker {
  color: var(--color-green-500);
}
.detalhes-final-container li:nth-child(2)::marker {
  color: var(--color-yellow-500);
}

.detalhes-final-container li:nth-child(3)::marker {
  color: var(--color-blue-500);
}
.detalhes-final-container li:nth-child(4)::marker {
  color: var(--color-red-500);
}

.detalhes-final-container article:nth-child(2) span {
  color: var(--color-green-700);
  opacity: 0.2;
  font-weight: 700;
  font-size: 60px;
}

.detalhes-final-container article:nth-child(2) h3 {
  font-size: 24px;
}

.keynote-speakers {
  background-image: linear-gradient(
    to right bottom,
    var(--color-green-50) 0%,
    var(--color-yellow-50) 100%
  );

  padding: 4rem 2rem;
}

.organizing-committee {
  background-image: linear-gradient(
    to right bottom,
    var(--color-blue-50) 0%,
    var(--color-green-50) 100%
  );
  padding: 4rem 2rem;
}

.keynote-speakers div,
.organizing-committee div {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.keynote-speakers p,
.organizing-committee p {
  color: var(--color-gray-600);
  font-size: 1.25rem;
  text-align: center;
}

footer {
  background:
    url('../assets/img/copacabana_green_op5.svg') no-repeat center bottom / cover,
    linear-gradient(
      90deg,
      rgba(141, 156, 198, 1) 0%,
      rgba(167, 192, 182, 1) 50%,
      rgba(183, 163, 145, 1) 100%
    );

  background-blend-mode: multiply;
  /* opacity: 0.15; */
  color: var(--text-color);
  text-align: center;
  padding: 1rem 4rem 3rem;
}

footer div span {
  width: fit-content;
  margin: 0 auto;
}

footer div:nth-child(1) {
  display: flex;
  flex-direction: column;

  background: rgba(0, 0, 0, 0.1);
  color: var(--text-white);
  text-shadow: 0 2px 8px #0008;
  border-radius: 12px;
  padding: 1rem 2rem;
}

footer div:nth-child(2) {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer div:nth-child(2) a {
  color: var(--text-white);
  text-shadow: 0 2px 8px #0008;
  font-weight: bold;
}

.program-header {
  padding: 2rem;
  text-align: center;
}

.sub-nav {
  top: auto;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  z-index: 1;
}

.sub-nav a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

.sub-nav a.router-link-active {
  background-color: #007bff;
  color: white;
}

@media (max-width: 600px) {
  .sub-nav {
    flex-direction: column;
    gap: 1rem;
    height: auto;
  }
}

.section-program {
  background-image: linear-gradient(
    to right bottom,
    var(--color-green-50) 0%,
    var(--color-yellow-50) 100%
  );
  padding: 4rem 2rem;
  margin-bottom: 2rem;
}

.titulo-pagina-2 {
  font-size: 104px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(225, 255, 0, 0.09) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

@media (max-width: 768px) {
  .titulo-pagina-2 {
    font-size: 64px;
  }
}

.titulo-pagina-3 {
  text-align: center;
}

.subtitulo-pagina {
  max-width: 800px;
  margin: 0 auto 2rem auto;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.titulos-poster-marcacao {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
